<div class="dark-blue-theme">
  <!-- <h1 class="ms-4 pt-4">Portfolio</h1> -->

  <div class="d-flex">
    <!-- Left navigation sidebar -->
   <nav class="nav-sidebar d-flex flex-column align-items-start p-3">
     <button
       class="btn nav-btn"
       [class.active]="activeTab === 'summary'"
       (click)="activeTab = 'summary'"
     >
       Summary
     </button>
     <button
       class="btn nav-btn"
       [class.active]="activeTab === 'holdings'"
       (click)="activeTab = 'holdings'"
     >
       Holdings
     </button>
   </nav>
 
   <!-- Right area-->
   <div class="content-area flex-grow-1 p-4">
     <div *ngIf="activeTab === 'summary'">
       <div class="container my-5 mt-0 pt-5">
         <div class="bg-white text-dark rounded shadow-lg p-4 custom-card">
           <h2 class="fw-bold text-center mb-4">Portfolio Summary</h2>
     
           <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
     
             <!-- Total Value -->
             <div class="col">
               <div class="card text-center custom-card h-100 border-0">
                 <div class="card-body custom-card">
                   <h6 class="card-title text-muted">Total Value</h6>
                   <h5 class="card-text text-success fw-semibold">₹{{ totalValue | number:'1.2-2' }}</h5>
                 </div>
               </div>
             </div>
     
     
             <!-- Total Invested -->
             <div class="col">
               <div class="card text-center custom-card h-100 border-0">
                 <div class="card-body custom-card">
                   <h6 class="card-title text-muted">Total Invested</h6>
                   <h5 class="card-text fw-semibold">₹{{ totalInvested | number:'1.2-2' }}</h5>
                 </div>
               </div>
             </div>
     
             <!-- Total Profit / Loss -->
             <div class="col">
               <div
                 class="card text-center h-100 border-0 custom-card"
                 [ngClass]="{
                   'text-success': totalProfitLoss > 0,
                   'text-danger': totalProfitLoss < 0,
                   'text-muted': isNeutral()
                 }"
               >
                 <div class="card-body custom-card">
                   <h6 class="card-title text-muted">Total Profit / Loss</h6>
                   <h5 class="card-text fw-semibold">₹{{ totalProfitLoss | number:'1.2-2' }}</h5>
                 </div>
               </div>
             </div>
     
             <!-- Profit / Loss (%) -->
             <div class="col">
               <div
                 class="card text-center shadow-sm h-100 border-0 custom-card"
                 [ngClass]="{
                   'text-success': profitLossPercent > 0,
                   'text-danger': profitLossPercent < 0,
                   'text-muted': profitLossPercent === 0
                 }"
               >
                 <div class="card-body custom-card">
                   <h6 class="card-title text-muted">Overall Change</h6>
                   <h5 class="card-text fw-semibold">{{ profitLossPercent | number:'1.2-2' }}%</h5>
                 </div>
               </div>
             </div>
     
           </div>
         </div>
       </div>
     
       <div class="charts-container">
         <app-donut-chart></app-donut-chart>
         <app-bar-chart></app-bar-chart>
       </div>
     </div>
 
     <div *ngIf="activeTab === 'holdings'">
       <!-- Holdings Table Section -->
       <div class="m-4" *ngIf="holdings.length > 0">
         <!-- <h1 class="pb-3">Holdings</h1> -->
         
       
         <!-- Records per page -->
         <div class="d-flex justify-content-end pb-2 align-items-center">
           <label class="me-2">Records per page:</label>
           <select class="form-control w-auto" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
             <option [value]="5">5</option>
             <option [value]="10">10</option>
             <option [value]="20">20</option>
           </select>
         </div>
       
         <!-- Responsive Table -->
         <div class="table-responsive">
           <table class="table table-bordered table-hover text-center align-middle table-light-contrast">
             <thead class="table-light text-center">
               <tr>
                 <!-- <th>Stock No.</th> -->
                 <th (click)="onSort('stock.name')">Name
                   <span *ngIf="sortBy === 'stock.name'">
                     {{ sortOrder === 'asc' ? '↑' : '↓' }}
                   </span>
                 </th>
                 <th (click)="onSort('stock.symbol')">Symbol
                   <span *ngIf="sortBy === 'stock.symbol'">
                     {{ sortOrder === 'asc' ? '↑' : '↓' }}
                   </span>
                 </th>
                 <th (click)="onSort('stock.sector')">Industry
                   <span *ngIf="sortBy === 'stock.sector'">
                     {{ sortOrder === 'asc' ? '↑' : '↓' }}
                   </span>
                 </th>
                 <th (click)="onSort('quantity')">Units
                   <span *ngIf="sortBy === 'quantity'">
                     {{ sortOrder === 'asc' ? '↑' : '↓' }}
                   </span>
                 </th>
                 <th (click)="onSort('avgPrice')">Buy Price(₹)
                   <span *ngIf="sortBy === 'avgPrice'">
                     {{ sortOrder === 'asc' ? '↑' : '↓' }}
                   </span>
                 </th>
                 <th (click)="onSort('stock.currentPrice')">Market price(₹)
                   <span *ngIf="sortBy === 'stock.currentPrice'">
                     {{ sortOrder === 'asc' ? '↑' : '↓' }}
                   </span>
                 </th>
                 <th>P/L (₹ / %)</th>
                 <th>Actions</th>
               </tr>
             </thead>
             <tbody>
               <tr *ngFor="let holding of holdings; let i = index" >
                 <!-- <td class="text-center">{{ (currentPage * pageSize) + i + 1 }}</td> -->
                 <td class="text-start">
                   <img [src]="holding.stock.imageUrl"
                        [alt]="holding.stock.name"
                        width="30"
                        height="30"
                        class="ms-3rounded" />
                   {{ holding.stock.name }}
                 </td>
                 <td class="text-center">{{ holding.stock.symbol }}</td>
                 <td>{{ holding.stock.sector }}</td>
                 <td class="text-center">{{ holding.quantity }}</td>
                 <td class="text-end">{{ holding.avgPrice | number:'1.2-2' }}</td>
                 <td class="text-end">{{ holding.stock.currentPrice | number:'1.2-2' }}</td>
                 <td class="text-end">
                   <span *ngIf="holding.profitLossAmount != null && holding.profitLossPercent != null"
                         [ngClass]="{
                           'text-success': holding.profitLossAmount > 0,
                           'text-danger': holding.profitLossAmount < 0,
                           'text-muted': holding.profitLossAmount === 0
                         }">
                     {{ holding.profitLossAmount | number:'1.2-2' }} 
                     ({{ holding.profitLossPercent | number:'1.2-2' }}%)
                   </span>
                 </td>
                 <td class="text-center">
                   <button class="btn btn-sm btn-danger" (click)="goToSell(holding)">Sell</button>
                 </td>
               </tr>
             </tbody>
           </table>
         </div>
       </div>
       
       <!-- Show message if there are no holdings -->
       <div *ngIf="holdings.length === 0" class="text-center mt-4">
         <p>No holdings to display.</p>
         <h6>Please visit market to explore stocks!</h6>
       </div>
       
       <!-- Pagination Controls -->
       <div *ngIf="totalPages > 1" class="mt-4">
         <nav>
           <ul class="pagination justify-content-center m-0 pb-5">
             <li class="page-item" [class.disabled]="currentPage === 0">
               <button class="page-link" (click)="onPageChange(currentPage - 1)">Previous</button>
             </li>
       
             <li class="page-item disabled">
               <span class="page-link">
                 Page {{ currentPage + 1 }} of {{ totalPages }}
               </span>
             </li>
       
             <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
               <button class="page-link" (click)="onPageChange(currentPage + 1)">Next</button>
             </li>
           </ul>
         </nav>
       </div>
     </div>
   </div>

  </div>
</div>  

