:host {
  display: block;
  width: 100%;
}

apx-chart {
  display: block;
  width: 100%;
  height: 100%;
}

.apexcharts-tooltip,
.apexcharts-xaxis-label,
.apexcharts-yaxis-label,
.apexcharts-title-text {
  color: white !important;
}
    